html {
    display: flex;
    justify-content: center;
}



#body_index {
    max-width: 1500px;    
    background: linear-gradient(to right, rgb(145, 40, 75), rgb(233, 37, 37));
    margin: 0;
    padding: 0;
}

/*normalize-size*/
.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

.miseEnForme_rapide  {
    text-align: center;
    color: aqua;
    border: 1px dotted aliceblue;
    width: 100%;
}

#instruction {
    color: white;
}